async-timeout==4.0.3
bcrypt==4.0.1
click==8.1.7
email-validator==2.2.0
fastapi==0.115.0
h11==0.14.0
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.9
pydantic==2.9.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.12
sqlalchemy==2.0.35
starlette==0.38.6
uvicorn==0.30.6
pytest